<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
          <class name="api_scripts.Register_as_a_shopper_runner"/>
      <class name="api_scripts.Get_shopper_details_By_id"/>

      <class name="api_scripts.Login_as_a_Shopper_runner"/>
      <class name="api_scripts.Update_the_shopper_details_runner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
